<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guangchengfan.myview">
    <!-- 存储权限,动态 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.example.guangchengfan.myview.MyApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".coordinatorlayout.CoorDinatorBehaviorActivity"
            android:exported="false" />
        <activity android:name=".constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".activity.RestoreActivity" />
        <activity android:name=".view.TouchDelegateActivity" />
        <activity android:name=".OldMainActivity" />
        <activity android:name=".NewMainActivity" />
        <activity android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".qrcode.QrCodeActivity" />
        <activity android:name=".fragment.StaticActivity" />
        <activity android:name=".fragment.DynamicActivity" />
        <activity android:name=".tabhost.TabHostActivity" />
        <activity android:name=".life.DynamicLifeActivity" />
        <activity android:name=".life.StaticLifeActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".viewpager.ViewPager2LoopActivity" />
        <activity android:name=".result.FirstResultActivity" />
        <activity android:name=".result.SecondResultActivity" />
        <activity android:name=".window_leak.LeakActivity" />
        <activity android:name=".show_dialog.ShowDialogActivity" />
        <activity android:name=".animation.AnimActivity" />
        <activity
            android:name=".basic.DivActivty"
            android:label="@string/title_activity_div_activty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recycleview.RecycleActivity" />
        <activity android:name=".customview.hotLabel.HotLabelActivity" />
        <activity android:name=".pop.PopupWindowsActivity" />
        <activity android:name=".supertoast.activity.SuperToastActivity" />
        <activity android:name=".textview.TextviewActivity" />
        <activity android:name=".recycleview.BRVAH.BRVAHRecycleViewActivity" />
        <activity android:name=".customview.SlidingTabLayout.SlidingTabLayoutActivity"/>
        <activity android:name=".imageload.LoadBigImgActivity"/>
        <activity android:name=".webview.LoadWebviewActivity"/>
        <activity android:name=".viewpager.ViewPager2DemoActivity"/>
        <activity android:name=".recycleview.SwapRecyclerViewAct"/>

        <activity android:name=".ffmpeg.VideoFfmpegAct"/>
        <activity android:name=".mediacodec.MediaCodecAct"/>

    </application>

</manifest>