<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guangchengfan.myview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.TouchDelegateActivity"></activity>
        <activity android:name=".OldMainActivity" />
        <activity android:name=".MainActivity2021" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.StaticActivity" />
        <activity android:name=".fragment.DynamicActivity" />
        <activity android:name=".tabhost.TabHostActivity" />
        <activity android:name=".life.DynamicLifeActivity" />
        <activity android:name=".life.StaticLifeActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".result.FirstResultActivity" />
        <activity android:name=".result.SecondResultActivity" />
        <activity android:name=".window_leak.LeakActivity" />
        <activity android:name=".show_dialog.ShowDialogActivity" />
        <activity android:name=".animation.AnimActivity" />
        <activity
            android:name=".basic.DivActivty"
            android:label="@string/title_activity_div_activty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recycleview.RecycleActivity" />
        <activity android:name=".customview.hotLabel.HotLabelActivity" />
        <activity android:name=".pop.PopupWindowsActivity" />
        <activity android:name=".supertoast.activity.SuperToastActivity" />
        <activity android:name=".textview.TextviewActivity" />
    </application>

</manifest>